.footer__column-link {
  display: flex;
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  opacity: 1;
}

.footer__column-link:hover {
  opacity: 0.5;
  transition: opacity  linear 0.5s;
}

.footer__column-link:last-child {
  margin-bottom: 16px;
}
